<div class="flex justify-center align-middle flex-row pt-56">
  <div
    class="mr-6 w-64 py-4 bg-slate-100 rounded-2xl flex flex-col justify-center align-middle text-center"
  >
    <h1 class="mb-4">Edit event</h1>
    <div>
      <form
        class="w-full px-6 text-left bg-slate-400 bg-opacity-75 py-4"
        [formGroup]="eventForm"
        method="post"
        (ngSubmit)="updateEvent()"
      >
        <div class="mb-2">
          <label for="titleEvent" class="text-left text-sm ml-2"
            >Event title</label
          >
          <input
            id="titleEvent"
            type="text"
            class="rounded-lg w-full px-2"
            formControlName="title"
          />
          <div
            *ngIf="
              eventForm.get('title')!.invalid && eventForm.get('title')!.touched
            "
            class="validation"
          >
            <small
              *ngIf="eventForm.get('title')!.errors!['required']"
              class="text-red-600"
            >
              Field Event title cannot be empty
            </small>

            <small
              *ngIf="eventForm.get('title')!.errors!['minlength']"
              class="text-red-600"
            >
              Write event title longer than 8 symbols
            </small>
          </div>
        </div>
        <div class="mb-2">
          <label for="dateEvent" class="text-left text-sm ml-2"
            >Event date</label
          >
          <input
            id="dateEvent"
            type="date"
            class="rounded-lg w-full px-2"
            formControlName="date"
          />
          <div *ngIf="eventForm.get('date')!.invalid" class="validation">
            <small
              *ngIf="eventForm.get('date')!.errors!['required']"
              class="text-red-600"
            >
              Field Event date cannot be empty
            </small>
          </div>
        </div>
        <div class="mb-4">
          <label for="budgetEvent" class="text-left text-sm ml-2"
            >Event budget</label
          >
          <input
            id="budgetEvent"
            type="number"
            class="rounded-lg w-full px-2"
            formControlName="budget"
          />
          <div
            *ngIf="
              eventForm.get('budget')!.invalid &&
              eventForm.get('budget')!.touched
            "
            class="validation"
          >
            <small
              *ngIf="eventForm.get('budget')!.errors!['required']"
              class="text-red-600"
            >
              Field Event budget cannot be empty
            </small>

            <small
              *ngIf="eventForm.get('budget')!.errors!['minlength']"
              class="text-red-600"
            >
              Write event budget more than 0
            </small>
          </div>
        </div>
        <div class="flex flex-row justify-evenly font-bold text-gray-700 mb-3">
          <button
            type="submit"
            [disabled]="eventForm.invalid"
            class="bg-green-400 rounded border border-black py-1.5 px-4"
          >
            Update
          </button>
          <button
            type="reset"
            class="bg-red-400 rounded border border-black py-1.5 px-4"
          >
            Cansel
          </button>
        </div>
        <div
          class="flex flex-row items-center justify-center font-bold text-gray-700"
        >
          <button
            type="button"
            (click)="deleteEvent()"
            class="bg-yellow-400 rounded border border-black py-1.5 px-4"
          >
            Delete
          </button>
        </div>
      </form>
    </div>
  </div>
  <div
    class="mr-6 w-64 py-4 bg-slate-100 rounded-2xl flex flex-col justify-center align-middle text-center"
  >
    <span class="mb-4">Edit socials</span>

    <div
      class="h-full flex flex-col bg-slate-400 px-2 overflow-y-auto max-h-[248px]"
    >
      <div class="flex justify-end mb-0.5 pb-2">
        <button
          class="bg-green-400 text-sm border border-black rounded-full w-full text-center mt-1 px-2 py-0.5"
          (click)="changeVisibilityAddSocialBar()"
        >
          +
        </button>
      </div>

      <div *ngIf="showAddSocialBar" class="bg-white rounded-md px-2 py-1 mb-1">
        <h3>Create Social</h3>
        <div class="h-px w-full bg-slate-500 mb-2"></div>

        <form
          [formGroup]="socialForm"
          method="post"
          (ngSubmit)="createSocial()"
          class="flex flex-col items-start text-left"
        >
          <div class="mb-2 flex flex-row space-x-4 items-center">
            <label for="socialName" class="text-sm font-medium text-gray-700"
              >Social name</label
            >
            <select
              name="socialName"
              id="socialName"
              formControlName="name"
              class="border rounded-md border-gray-700 bg-slate-300 px-1.5 text-base font-medium text-gray-600"
            >
              <option value="discord">Discord</option>
              <option value="telegram">Telegram</option>
              <option value="tiktok">Tik Tok</option>
              <option value="instagram">Instagram</option>
              <option value="vk">Vk</option>
              <option value="youtube">YouTube</option>
            </select>
          </div>
          <div class="mb-2 flex flex-row space-x-4 items-center">
            <label for="socialName" class="text-sm font-medium text-gray-700"
              >Status</label
            >
            <select
              name="socialName"
              id="socialName"
              formControlName="status"
              class="border rounded-md border-gray-700 bg-slate-300 px-1.5 text-base font-medium text-gray-600"
            >
              <option value="{{ notPublishedStatus }}">Not published</option>
              <option value="{{ publishedStatus }}">Published</option>
            </select>
          </div>
          <div class="flex w-full justify-evenly">
            <button type="submit" class="bg-green-300 rounded-md px-2 py-1">
              Create
            </button>
            <button
              type="reset"
              (click)="changeVisibilityAddSocialBar()"
              class="bg-red-300 rounded-md px-2 py-1"
            >
              Cansel
            </button>
          </div>
        </form>
      </div>

      <div
        class="flex flex-row bg-gray-300 items-center p-2 rounded mb-1"
        *ngFor="let social of socials"
      >
        <div class="mr-4" (click)="updateSocialClickHandler(social)">
          <img
            src="../../../assets/Icons/discord.png"
            alt="disicon"
            class="w-8 h-8 rounded-full border-2 {{
              social.status == publishedStatus
                ? 'border-green-500'
                : 'border-red-500'
            }}"
            *ngIf="social.name === 'discord'"
          />
          <img
            src="../../../assets/Icons/vk.png"
            alt="vkIcon"
            class="w-8 h-8 rounded-full  border-2 {{
              social.status == publishedStatus
                ? 'border-green-500'
                : 'border-red-500'
            }}"
            *ngIf="social.name === 'vk'"
          />
          <img
            src="../../../assets/Icons/telegram.png"
            alt="telegramIcon"
            class="w-8 h-8 rounded-full  border-2 {{
              social.status == publishedStatus
                ? 'border-green-500'
                : 'border-red-500'
            }}"
            *ngIf="social.name === 'telegram'"
          />
          <img
            src="../../../assets/Icons/youtube.png"
            alt="ytIcon"
            class="w-8 h-8 rounded-full  border-2 {{
              social.status == publishedStatus
                ? 'border-green-500'
                : 'border-red-500'
            }}"
            *ngIf="social.name === 'youtube'"
          />
          <img
            src="../../../assets/Icons/inst.png"
            alt="instIcon"
            class="w-8 h-8 rounded-full  border-2 {{
              social.status == publishedStatus
                ? 'border-green-500'
                : 'border-red-500'
            }}"
            *ngIf="social.name === 'instagram'"
          />
          <img
            src="../../../assets/Icons/tiktok.png"
            alt="tiktokIcon"
            class="w-8 h-8 rounded-full  border-2 {{
              social.status == publishedStatus
                ? 'border-green-500'
                : 'border-red-500'
            }}"
            *ngIf="social.name === 'tiktok'"
          />
        </div>
        <div class="text-lg font-semibold text-gray-600">
          {{ social.name.charAt(0).toUpperCase() + social.name.slice(1) }}
        </div>
        <div class="ml-auto mr-4" (click)="deleteSocial(social.id)">
          <img
            class="w-6 h-6"
            src="../../../assets/Icons/Delete.png"
            alt="deleteIcon"
          />
        </div>
      </div>
    </div>
  </div>
  <div
    class="w-64 py-4 bg-slate-100 rounded-2xl flex flex-col justify-center align-middle text-center"
  >
    <span class="mb-4"> Edit links </span>
    <div
      class="h-full flex flex-col py-1.5 bg-slate-400 px-2 overflow-y-auto max-h-[248px] space-y-2"
    >
      <button
        type="button"
        (click)="changeVisibilityAddLinkWindow()"
        class="w-full text-center bg-slate-200 rounded-lg border border-black"
      >
        +
      </button>
      <form
        *ngIf="showAddLinkBar"
        class="w-full bg-white rounded-lg p-2 font-semibold"
        method="post"
        (ngSubmit)="createLink()"
        [formGroup]="linkForm"
      >
        <h3 class="text-2xl text-gray-700">Create link</h3>
        <div class="text-sm text-gray-600 mb-2">
          <label for="taskInput">Task link</label>
          <input
            id="taskInput"
            formControlName="task"
            type="url"
            class="w-full border border-gray-400 rounded px-2 py-0.5"
            placeholder="https://www.atlassian.com/ru/software/jira"
          />
        </div>
        <div class="text-sm text-gray-600 mb-2">
          <label for="materialsInput">Materials link</label>
          <input
            id="materialsInput"
            type="url"
            formControlName="materials"
            class="w-full border border-gray-400 rounded px-2 py-0.5"
            placeholder="https://drive.google.com/"
          />
        </div>
        <div class="flex w-full justify-evenly">
          <button
            class="text-white bg-green-400 py-1 px-3 rounded"
            type="submit"
          >
            Create
          </button>
          <button
            class="text-white bg-red-400 py-1 px-3 rounded"
            type="reset"
            (click)="changeVisibilityAddLinkWindow()"
          >
            Cansel
          </button>
        </div>
      </form>
      <form
        *ngIf="showUpdateLinkBar"
        class="w-full bg-white rounded-lg p-2 font-semibold"
        method="post"
        (ngSubmit)="updateLink()"
        [formGroup]="linkUpdateForm"
      >
        <h3 class="text-2xl text-gray-700">Update link</h3>
        <div class="text-sm text-gray-600 mb-2">
          <label for="taskInput">Task link</label>
          <input
            id="taskInput"
            formControlName="task"
            type="url"
            class="w-full border border-gray-400 rounded px-2 py-0.5"
            placeholder="https://www.atlassian.com/ru/software/jira"
          />
        </div>
        <div class="text-sm text-gray-600 mb-2">
          <label for="materialsInput">Materials link</label>
          <input
            id="materialsInput"
            type="url"
            formControlName="materials"
            class="w-full border border-gray-400 rounded px-2 py-0.5"
            placeholder="https://drive.google.com/"
          />
        </div>
        <div class="flex w-full justify-evenly">
          <button
            class="text-white bg-green-400 py-1 px-3 rounded"
            type="submit"
          >
            Update
          </button>
          <button
            class="text-white bg-red-400 py-1 px-3 rounded"
            type="reset"
            (click)="changeShowUpdateLinkBar()"
          >
            Cansel
          </button>
        </div>
      </form>
      <div
        *ngFor="let link of links"
        class="flex py-2 px-5 bg-gray-100 rounded-lg flex-row items-center justify-between"
      >
        <div class="flex flex-row space-x-5">
          <a href="{{ link.task }}" target="_blank">
            <img
              src="../../../assets/Icons/task.png"
              alt="taskIcons"
              class="w-4 h-4"
            />
          </a>
          <a href="{{ link.material }}" target="_blank">
            <img
              src="../../../assets/Icons/materials.png"
              alt="matIcon"
              class="w-4 h-4"
            />
          </a>
        </div>
        <div>
          <div>
            <button
              type="button"
              class="p-2 w-8 h-8"
              (click)="showLinkUpdateWindow(link.id)"
            >
              <img
                src="../../../assets/Icons/pen-and-paper.svg"
                alt="editIcon"
              />
            </button>
            <button
              type="button"
              class="p-2 w-8 h-8"
              (click)="showDeleteLinkSureWindow(link.id)"
            >
              <img src="../../../assets/Icons/Delete.png" alt="delIcon" />
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="flex justify-center flex-row mt-4">
  <button
    class="flex flex-row bg-yellow-400 px-4 py-2 rounded-md"
    (click)="backToCalendar()"
  >
    <img
      src="../../../assets/Icons/Calendar.svg"
      alt="calendar icon"
      class="mr-1 my-auto"
    />
    Back
  </button>
</div>
<div
  *ngIf="showShureWindow"
  class="absolute top-0 bottom-0 right-0 left-0 bg-slate-700 opacity-90 z-50 flex justify-center"
>
  <div class="w-1/5 bg-white my-auto flex flex-col p-4 rounded-2xl">
    <img
      src="../../../assets/Icons/Question.png"
      alt="question icon"
      class="w-8 h-8 mx-auto"
    />
    <div class="w-full h-0.5 bg-gray-700 mt-2 rounded-sm"></div>
    <h3 class="m-auto text-lg font-medium text-red-400">
      You want to change social status?
    </h3>
    <div class="flex justify-evenly mt-4 text-lg font-semibold">
      <button
        (click)="updateSocial()"
        class="py-2 px-4 bg-green-400 rounded-2xl"
      >
        Submit
      </button>
      <button
        (click)="closeShowWindow()"
        class="py-2 px-4 bg-red-400 rounded-2xl"
      >
        Canсel
      </button>
    </div>
  </div>
</div>

<div
  *ngIf="showSureDeleteLinkWindow"
  class="absolute top-0 bottom-0 right-0 left-0 bg-slate-700 opacity-90 z-50 flex justify-center"
>
  <div class="w-1/5 bg-white my-auto flex flex-col p-4 rounded-2xl">
    <img
      src="../../../assets/Icons/Question.png"
      alt="question icon"
      class="w-8 h-8 mx-auto"
    />
    <div class="w-full h-0.5 bg-gray-700 mt-2 rounded-sm"></div>
    <h3 class="m-auto text-lg font-medium text-red-400">
      You want to delete link?
    </h3>
    <div class="flex justify-evenly mt-4 text-lg font-semibold">
      <button (click)="deleteLink()" class="py-2 px-4 bg-green-400 rounded-2xl">
        Delete
      </button>
      <button
        (click)="closeDeleteLinkShowWindow()"
        class="py-2 px-4 bg-red-400 rounded-2xl"
      >
        Canсel
      </button>
    </div>
  </div>
</div>

<div class="loadingContainer" *ngIf="isLoadingWindowActive">
  <div class="loading-text">
    <span class="loader">Loading...</span>
    <div class="load_anim1"></div>
    <div class="load_anim2"></div>
  </div>
</div>
